/*
* Bootstrap custom variables
*/
$progress-height: 1.4rem;
$progress-border-radius: 1.4rem;
$success: #00ff00;

@import "../node_modules/bootstrap/scss/bootstrap";

/*
* Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
* Semantic elements * * * * * * * * * * * * * * * * * * * * *
*/

html {
  font-family: 'Inter', sans-serif;
}

header{
  padding: 0;  
  color: white;
  background-color: blue;
  background-size: cover;
  background-image: url('../assets/images/diego-blue.jpg');
  background-position: right top;
}

nav{
  top: 10px;
  color:white;
  display: flex;
  justify-content: space-between;  
  ul {
    list-style-type: none;
  }
  ul li{
    display: inline-flex;
  }
}

body{
  background-color: rgb(248, 248, 248);
}

main{
  max-width: 1280px !important;
  margin: 0 auto !important;
  background-color: #fcfcfc;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

article {
  margin: 0 auto;
  color:rgb(41, 38, 37);
  font-size: 1.3rem;
  font-weight: 300;
  p {
    margin: 25px auto;
    padding: 20px;
    line-height: 2.1rem;
  }
  p::first-letter{
    font-size: 1.5rem;
    
  }
}

form {
  font-size: 1rem;
  font-weight: 400;
  label {
    font-weight: 500;
  }
  .form-text{
    font-size: smaller;
    color:grey;
  }
}

/*
* Custom classes * * * * * * * * * * * * * * * * * * * * *
*/

.heart {
  animation: 0.5s beat alternate-reverse infinite;    
}
@keyframes beat {
 0% {
    transform: scale(1);
 }
 100% {
    transform: scale(1.1);
 }
}

.campaign-resume {
  border: 1px solid rgb(170, 255, 170);
  background-color: rgba(0, 38, 255, 0.2);
  border-radius: 1em;
  max-width: 400px;
  min-width: 250px;
  margin: 20px 0 0 20px;
}
.btnSuccess{
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(170, 255, 170);
  border-radius: 1rem;
  padding: 0.6rem 1.3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.btnSuccess:hover {
  background-color:rgb(116, 255, 116);
}

.btnSuccess:active{
  background-color: rgb(10, 158, 10);
  color: rgb(0, 0, 0);
}

.title{
  font-size: 4em;
  font-weight: 800;
  color: white;
  text-align: center;
  p {
    font-weight: 200;
    font-size: 1.5rem;
    max-width: 550px;
  }
}

.subtitle{
  font-size: 1.4em;
  font-weight: 400;
  color: white;
  text-align: center;
}

.campaignInfo{
  margin: 80px auto 0;
  text-align:center;
  p {
    margin: 2rem auto;
  }
}

.articleTitle{
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
}

.bg-lightgreen {
  background-color: rgb(1, 245, 70);
}

/*
* Main Menú * * * * * * * * * * * * * * * * * * * * *
*/
nav{
  label rect{
    fill: white;
  }
  input[type="checkbox"], label {
    display: none;
  }  
}

.logo a{
  text-decoration: none;
  color: white;
  padding-top:15px;
  font-weight: 700;
  font-size:1.1rem;
}

.menu{
  display:flex;
  list-style-type: none;
  float:right;
  padding: 10px;  
  font-size: 1rem;
  a {
    color:white;
    text-decoration: none;
    }
  li{
    padding: 5px 15px;
    border-top: 2px solid rgb(210, 210, 210);
    border-bottom: 2px solid rgb(210, 210, 210);
    border-right: 2px solid rgb(210, 210, 210);
    background-color: rgb(49, 49, 230);
  }
  li:first-child {
    border-radius: 10px 0 0 10px;
    border-left: 2px solid rgb(210, 210, 210);  
  }
  li:last-child {
    border-radius: 0px 10px 10px 0;  
  }
  li:hover{
    color:rgb(206, 206, 206);
    background-color: rgb(2, 201, 58)
  }
}

@media (max-width: 768px) {

  input[type='checkbox']:not(:checked)+ul {
    display: none;
  }

  nav {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
      ul {
        display: block;
      }
      ul:last-child{
        width: 100%;
        flex-basis: 100%;
      }
      ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0;
      }
      label {
        text-align: right;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
      }
    }

  .menu {
    display:block;
    padding:0;
    li, li:first-child, li:last-child {
      border:0;
      border-radius: 0;
    }
  }
}

/*
* Footer * * * * * * * * * * * * * * * * * * * * *
*/

footer {
  background: linear-gradient(to bottom, rgb(34, 33, 32), 80%, rgb(0, 0, 0) );
  border-top: 1px solid rgb(120, 102, 87);
  color: white;
  padding-top: 50px;
  text-align:center;
  padding-bottom: 40px;
  p {
    font-size: small;
  }
  h4 {
    font-weight: 200;
  }
}